.all-char-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.all-character-card{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem 4rem;
    box-shadow: 0 0 25px 5px rgb(190, 190, 190);
    background-color: lightgrey;
}
.all-character-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-character-card img{
    border-radius: 10px;
    box-shadow: 0 0 15px 5px black;
}
.pagination-controls{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.pagination-controls *:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: ease-in-out 2ms;
}